decorator==5.1.1
unstructured.pytesseract==0.3.13
datasets==3.0.1
nvidia-ml-py==12.560.30
safetensors==0.4.5
orderly-set==5.2.2
setuptools==75.1.0
codeshield==1.0.1
omegaconf==2.3.0
emoji==2.13.2
anyio==4.6.0
pip==24.2
urllib3==2.2.3
google-api-python-client==2.147.0
pyparsing==3.1.4
py7zr==0.22.0
opentelemetry-semantic-conventions==0.46b0
mdurl==0.1.2
scikit-learn==1.5.2
joblib==1.4.2
pypdfium2==4.30.0
timm==1.0.9
numpy==1.26.4
unstructured==0.15.8
flatbuffers==24.3.25
multivolumefile==0.2.3
opentelemetry-sdk==1.25.0
pdf2image==1.17.0
networkx==3.3
optimum==1.17.1
wcwidth==0.2.13
opentelemetry-api==1.25.0
triton==3.0.0
jsonpath-python==1.0.6
pure_eval==0.2.3
httplib2==0.22.0
absl-py==2.1.0
layoutparser==0.3.4
aiohttp==3.10.7
accelerate==0.34.2
tokenizers==0.20.0
opentelemetry-instrumentation==0.46b0
importlib_metadata==7.1.0
unstructured-client==0.25.9
torch==2.4.1
jsonschema==4.23.0
setproctitle==1.3.3
parso==0.8.4
nvidia-nccl-cu12==2.20.5
nest-asyncio==1.6.0
fsspec==2024.6.1
transformers==4.45.1
nvidia-nvjitlink-cu12==12.6.68
pytz==2024.2
google-auth-httplib2==0.2.0
fire==0.6.0
google-generativeai==0.8.2
mpmath==1.3.0
pycryptodomex==3.20.0
py-cpuinfo==9.0.0
evaluate==0.4.3
texttable==1.7.0
nltk==3.9.1
Jinja2==3.1.4
pyppmd==1.1.0
soupsieve==2.6
appdirs==1.4.4
opentelemetry-proto==1.25.0
python-dateutil==2.9.0.post0
typing-inspect==0.9.0
matplotlib-inline==0.1.7
pycocotools==2.0.8
opentelemetry-exporter-otlp-proto-http==1.25.0
google-api-core==2.20.0
huggingface-hub==0.25.1
sentencepiece==0.2.0
pycparser==2.22
filelock==3.16.1
Brotli==1.1.0
black==24.8.0
idna==3.10
sympy==1.13.3
click-option-group==0.5.6
google-auth==2.35.0
ninja==1.11.1.1
typing_extensions==4.8.0
h11==0.14.0
openai==1.38.0
pydantic_core==2.23.4
rich==13.5.3
PyYAML==6.0.1
scipy==1.14.1
pyzstd==0.16.1
pi_heif==0.18.0
hjson==3.1.0
platformdirs==4.3.6
nvidia-cufft-cu12==11.0.2.54
google-ai-generativelanguage==0.6.10
cryptography==43.0.1
glom==22.1.0
multidict==6.1.0
sentry-sdk==2.15.0
tokenize-rt==6.0.0
filetype==1.2.0
six==1.16.0
httpcore==1.0.5
pydantic==2.9.2
opentelemetry-exporter-otlp-proto-common==1.25.0
RapidFuzz==3.10.0
nvidia-cuda-nvrtc-cu12==12.1.105
termcolor==2.4.0
fonttools==4.54.1
pdfminer.six==20231228
boltons==21.0.0
peewee==3.17.6
sniffio==1.3.1
deepspeed==0.15.1
annotated-types==0.7.0
colorama==0.4.6
backoff==2.2.1
pikepdf==9.2.1
lxml==5.3.0
sentence-transformers==3.1.1
aiohappyeyeballs==2.4.2
docker-pycreds==0.4.0
wandb==0.18.3
pandas==2.2.3
inflate64==1.0.0
grpcio-status==1.62.3
proto-plus==1.24.0
googleapis-common-protos==1.65.0
MarkupSafe==2.1.5
nvidia-cuda-cupti-cu12==12.1.105
cffi==1.17.1
defusedxml==0.7.1
gitdb==4.0.11
python-iso639==2024.4.27
rsa==4.9
stack-data==0.6.3
pathspec==0.12.1
semgrep==1.90.0
executing==2.1.0
certifi==2024.8.30
pyasn1==0.6.1
peft==0.13.0
face==22.0.0
tomli==2.0.1
wheel==0.44.0
ptyprocess==0.7.0
nvidia-curand-cu12==10.3.2.106
wcmatch==8.5.2
regex==2024.9.11
nvidia-cusolver-cu12==11.4.5.107
unstructured-inference==0.7.36
tzdata==2024.2
Deprecated==1.2.14
exceptiongroup==1.2.2
iopath==0.1.10
nvidia-cuda-runtime-cu12==12.1.105
pyasn1_modules==0.4.1
wrapt==1.16.0
chardet==5.2.0
opentelemetry-instrumentation-requests==0.46b0
cachetools==5.5.0
tqdm==4.66.5
ipdb==0.13.13
psutil==6.0.0
referencing==0.35.1
GitPython==3.1.43
packaging==24.1
matplotlib==3.9.2
pillow==10.4.0
rouge_score==0.1.2
ruamel.yaml==0.17.40
opencv-python==4.10.0.84
langdetect==1.0.9
antlr4-python3-runtime==4.9.3
nvidia-cudnn-cu12==9.1.0.70
markdown-it-py==3.0.0
loralib==0.1.2
llama-recipes==0.0.4.post1
tabulate==0.9.0
ruamel.yaml.clib==0.2.8
google-cloud-vision==3.7.4
rpds-py==0.20.0
coloredlogs==15.0.1
frozenlist==1.4.1
traitlets==5.14.3
uritemplate==4.1.1
pyarrow==17.0.0
attrs==24.2.0
httpx==0.27.2
prompt_toolkit==3.0.48
click==8.1.7
deepdiff==8.0.1
smmap==5.0.1
python-magic==0.4.27
threadpoolctl==3.5.0
xxhash==3.5.0
mypy-extensions==1.0.0
pybcj==1.0.2
pypdf==5.0.0
torchvision==0.19.1
python-multipart==0.0.10
dataclasses-json==0.6.7
nvidia-cusparse-cu12==12.1.0.106
jedi==0.19.1
pdfplumber==0.11.4
effdet==0.4.1
nvidia-cublas-cu12==12.1.3.1
pexpect==4.9.0
multiprocess==0.70.16
charset-normalizer==3.3.2
bitsandbytes==0.44.0
grpcio==1.66.1
onnxruntime==1.19.2
yarl==1.13.1
protobuf==4.25.5
ipython==8.27.0
contourpy==1.3.0
cycler==0.12.1
marshmallow==3.22.0
jsonschema-specifications==2023.12.1
dill==0.3.8
onnx==1.16.2
Pygments==2.18.0
nvidia-nvtx-cu12==12.1.105
aiosignal==1.3.1
portalocker==2.10.1
distro==1.9.0
zipp==3.20.2
humanfriendly==10.0
requests-toolbelt==1.0.0
asttokens==2.4.1
beautifulsoup4==4.12.3
requests==2.32.3
bracex==2.5
kiwisolver==1.4.7
opentelemetry-util-http==0.46b0
backports.tarfile==1.2.0
typeguard==4.3.0
jaraco.functools==4.0.1
autocommand==2.2.2
importlib_metadata==8.0.0
jaraco.collections==5.1.0
inflect==7.3.1
wheel==0.43.0
tomli==2.0.1
jaraco.context==5.3.0
packaging==24.1
more-itertools==10.3.0
zipp==3.19.2
typing_extensions==4.12.2
platformdirs==4.2.2
importlib_resources==6.4.0
jaraco.text==3.12.1
